<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
          #fm{
    border-radius:5px;
    width:490px;
    background-color:palegreen;
    font-size:130%;
    padding:25px;
    }
    </style>
</head>
<body id="fm">

<form action="" method="post">
    {% csrf_token %}
    <label>username</label>
    <input type="text" name="username" placeholder="username"></input><br>
    <label>password</label>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit">

</form>
{% for i in messages%}
    {{i}}
{% endfor %}
</body>
</html>