<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration details</title>
    <style>
    #fm{
    border-radius:5px;
    width:490px;
    background-color:grey;
    padding:25px;
    }
    #fs{
     color:black;
     text-align:center;
     font-size:180%;}


    </style>

</head>
<div id="fm">
    <body>
<form method="post" action="" >
    {% csrf_token %}
    <h1 id="fs"><b><u>REGISTRATION DETAILS</u></b></h1>
    <label style="padding:20px;display:inline-block;">Name:</label>
    <input type="text" Name="username" placeholder=""><br>
       <label style="padding:20px;display:inline-block;">First Name:</label>
    <input type="text" Name="first_name" placeholder="enter fname"><br>
    <label style="padding:20px;display:inline-block;">Last Name:</label>
    <input type="text" Name="last_name"placeholder="enter lname"><br>
    <label style="padding:20px;display:inline-block;">Email:</label>
    <input type="email" Name="email" placeholder="enter id"><br>
    <label style="padding:20px;display:inline-block;">Password:</label>
    <input type="password" Name="password" placeholder="enter pass"><br>
    <label style="padding:20px;display:inline-block;"> Confirm-Password:</label>
    <input type="password" Name="cpassword" placeholder="re-enter pass"><br>
    <label style="padding:10px;display:inline-block;"></label>
    <input type="submit";>

</form>

{% for i in messages%}
    {{i}}
{% endfor %}
</div>
</body>
</html>